<a href="https://colab.research.google.com/github/mohammadJKA/test/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np



def add(x, y):
    """Adds two numbers together."""
    return x + y

def subtract(x, y):
    """Subtracts two numbers."""
    return x - y

def multiply(x, y):
    """Multiplies two numbers."""
    return x * y

def divide(x, y):
    """Divides two numbers.

    Raises:
        ZeroDivisionError: If the divisor is zero.
    """
    if y == 0:
        raise ZeroDivisionError("Cannot divide by zero")
    return x / y

# Get input from the user
num1 = float(input("Enter first number: "))
op = input("Enter operator (+, -, *, /): ")
num2 = float(input("Enter second number: "))
result =0
# Perform the calculation
if op == "+":
    result = add(num1, num2)
elif op == "-":
    result = subtract(num1, num2)
elif op == "*":
    result = multiply(num1, num2)
elif op == "/":
    result = divide(num1, num2)
else:
    print("Invalid operator")

# Print the result
print(f"Result: {result}")

amman
irbid
jarash

# New Section

In [15]:
import numpy as np
import pandas as pd
y=pd.read_csv('/content/sample_data/california_housing_test.csv')
y.loc[y['housing_median_age']==27] # can use & condition2
#y['housing_median_age']==27
#y.describe()
#y['total_rooms'].unique()
#y['total_rooms'][1:10] # [10:] or [:10] or y[1:10]

#y.shape
#y.head(15)
#y.tail(5)
#pd.DataFrame({'A':[1,2],'B':[3,4]})
#pd.Series([1,2,3,4,5,6])
#random_numbers=np.random.rand(3,2)
#print(random_numbers)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
14,-117.97,33.73,27.0,2097.0,325.0,1217.0,331.0,5.7121,222500.0
112,-117.95,33.63,27.0,2489.0,481.0,1082.0,443.0,5.8777,358800.0
255,-118.86,34.19,27.0,1931.0,261.0,736.0,244.0,6.7805,392900.0
...,...,...,...,...,...,...,...,...,...
2855,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0
2881,-124.14,40.60,27.0,1148.0,206.0,521.0,219.0,4.0250,128100.0
2909,-122.11,37.41,27.0,5110.0,1599.0,2764.0,1482.0,3.4198,351900.0
2957,-118.23,33.91,27.0,1694.0,393.0,1890.0,373.0,3.0341,89100.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0